<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Home Page</a>
        <a href="/index">Game List</a>
    </nav>
    <h1><%= foundGame.title %></h1>
    <ul>
        <li>Platform: <%= foundGame.platform %></li>
        <li>Genre: <%= foundGame.genre %></li>
        <li>Release: <%= foundGame.release %></li>
        <li>Publisher: <%= foundGame.publisher %></li>
        <li>Rating: <%= foundGame.rating %></li>
        <li>Status: <%= foundGame.status === true ? "Completed" : "In Progress" %></li>
    </ul>
    <form action="/index/<%= foundGame._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
    <form action="/index/<%= foundGame._id %>/edit" method="GET">
        <button type="submit">Edit</button>
    </form>
</body>
</html>